li{
    list-style: none;
}
#addBtn{
    background-color: rgb(32, 221, 199);
    height: 25px;
}
#deleteBtn{
    font-size: 10PX;
    margin: 20px;
    margin-top: 10PX;
    background-color: rgb(255, 36, 11);
    color: aliceblue;
    border-radius: 50px;
}
#taskInput{
    border-radius: 25PX;
    height: 30px;
}
#addBtn{
    background-color: rgb(9, 215, 251);
    border-radius: 25px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background: linear-gradient(135deg, #0F172A, #1E293B);
}
li{
    border-radius: 25px;
    height: 50px;
    width:200px;
    color: rgb(231, 214, 214);
    font-size: 20px;
}
